#text {
    height: 250px;
    width: 450px;
    padding: 10px;
    margin: 10px;
}

#textMirror{
    height: 250px;
    width: 450px;
    padding: 10px;
    margin-left: 130px;
}

button{
   margin-left: 100px;
}